.container {
    display: flex;
    flex-direction: row;
}

.left-half {
    background-color: rgba(245, 245, 245, 0.9);
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    height: 50%;
}
.right-half {
    background-image: url("./LibLogInImage.jpg"), url("./GoogleImg.png");
    background-size: full;
    min-height: 100vh;
    animation: background-change 5s infinite;
}