.ever {
    width: 100%;
  }
  
.logo img {
    max-height: 40px;
}

.actions {
    display: flex;
    align-items: center;
}

.search input {
    border: none;
    padding: 5px;
}

.search button {
    background-color: #444;
    border: none;
    color: #fff;
    padding: 5px 10px;
}

.search button:hover {
    background-color: #555;
    cursor: pointer;
}

.signup, .signin {
    background-color: #ff5722;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.signup:hover, .signin:hover {
    background-color: #e64a19;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.profile-info {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.profile-info h2 {
    font-size: 24px;
    color: #236b92;
}

.profile-info p {
    margin: 5px 0;
    color: #888;
}

.profile-info {
    margin: 20px;
    background-color: rgba(245, 245, 245, 0.9);
    padding: 20px;
    border-radius: 5px;
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideRight {
    0% {
        opacity: 1;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.profile-pic {
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;
    height: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}